<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <!-- <ion-back-button icon="../../assets/icon/backIcon.svg"></ion-back-button> -->
        <ion-button class="btn-header" (click)="goBack()">
          <img width="25" height="25" src="../../assets/icon/backIcon.svg" alt="Back" />
        </ion-button>
        <ion-button class="btn-header">
          <img width="40" height="40" class="delivery-icon" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </ion-button>
        <ion-button class="btn-header">
          <!-- <img class="delivery-icon" src="../../assets/icon/right-arrow.svg" alt="right arrow"> -->
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="orders.length <= 0; else showOrders" class="empty-content" [fullscreen]="true">
  <div class="empty-orders">
    <figure class="img-empty-container">
      <img src="../../assets/img/emptyOrders.svg" alt="">
    </figure>
    <h2 class="title-empty">¿Qué esperas para hacer tu pedido?</h2>
    <p class="text-empty">Todo lo que necesitas en un solo lugar</p>
  </div>
</ion-content>
<ng-template #showOrders>
  <ion-content class="orders-found-container">
    <div class="card-orders" *ngFor="let item of orders; let index" (click)="routerLink('/recent-order',item)">
      <div class="card-header">
        <h2> {{item.created_at | customDateOrders}}</h2>
      </div>
      <div class="card-info">
        <p class="address">Calle 43 # 71 - 66</p>
        <p>Torre 3 apto 302</p>
        <p>Productos: 6</p>
      </div>
      <hr>
      <div class="card-footer">
        <div>
          <h2>total: $ 240.000</h2>
        </div>
        <div class="completed-container">
          <img [src]="item.status.name === 'Completado' ? '../../../assets/img/Checkmark.svg' : '../../../assets/img/Cancel.svg'" alt="">
          <h3 [style.color]="item.status.name === 'Completado' ? '#048404' : '#FF1806'">{{item.status.name}}</h3>
        </div>
      </div>
    </div>
  </ion-content>
</ng-template>

