ion-toolbar {
    --background: #272727;
}

ion-buttons {
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
}

ion-content {
    --padding-top: 10px;
}

ion-content .product-img-container {
    margin: 0px;
    padding: 0px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
}

ion-content .product-img-container .promotion-container{
    position: absolute;
    width: 99px;
    height: 99px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

ion-content .product-img-container .promotion-container .promotion-icon{
    position: absolute;
}

ion-content .product-img-container .promotion-container :nth-child(-n + 2){
    margin: 0;
    padding: 0;
    color: white;
    z-index: 1;
}

ion-content .product-img-container .promotion-container h4{
    font-size: 40px;
}

ion-content .promotion-container .promotion-icon {
}

// ion-card {
//     margin: 0;
//     padding-top: 20px;
//     border-radius: 0px;
//     background-color: none;
//     box-shadow: none;
// }

// ion-card .img-card-container {
//     position: relative;
//     padding: 0;
//     width: 80%;
//     height: 226px;
//     display: flex;
//     justify-content: center;
//     overflow: hidden;
// }

// ion-card .img-card-container .discount-img {
//     position: absolute;
//     width: 99px;
//     height: 99px;
//     top: 0;
//     left: 0;
// }

// ion-card .img-card-container .card-img {
//     height: 226px;
//     object-fit: contain;
// }

// ion-card .description-card-container {
//     border-radius: 30px 30px 0 0;
//     background-color: #F7F5F5;
// }
