<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>campaign-detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">campaign-detail</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content> -->
<!-- <div class="card-container"> -->
  <ion-card>
    <figure class="img-card-container">
      <img class="discount-img" src="../../../assets/icon/Discount icon.png" alt="">
      <img class="card-img" alt="Silhouette of mountains" [src]="product.image" />
    </figure>
    <div class="description-card-container">
      <ion-card-header>
        <ion-card-title>{{product.name}}</ion-card-title>
        <!-- <ion-card-subtitle>Card Subtitle</ion-card-subtitle> -->
      </ion-card-header>
    
      <ion-card-content>
        <!-- Here's a small text description for the card content. Nothing more, nothing less. -->
        {{product.description}}
      </ion-card-content>
    </div>
  </ion-card>
<!-- </div> -->
