<ion-header [translucent]="true" class="h60">
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-header collapse="condense">

  </ion-header>
    <div *ngIf="!loaded" style="position: absolute; width: 100%; height: 100%; background-color: #ECECEC; z-index: 1;">
      <ion-row style="z-index: 2;">
          <ion-col  size="4" *ngFor="let data of ListCategories" style="padding: 5px 20px;" >
            <ion-skeleton-text [animated]="true"></ion-skeleton-text>
          </ion-col>
      </ion-row>
    </div>

    <ion-grid style="background-color: #ECECEC;">
      <ion-row>
          <ion-col   size="4" *ngFor="let data of ListCategories" style="padding: 4px 20px;" >
            <div (click)="routerLink(data.id)">
              <img (load)="loadImages()" class="imgCategories" [src]="data.image" alt="fondo Blanco">
            </div>
            <h1 class="text-center textCategories">{{data.name}}</h1>
          </ion-col>
      </ion-row>
    </ion-grid>
</ion-content>
