.imgCategories{
    border-radius: 50%;
    border: solid 1px;
    background: white;
}
.textCategories{
    font-family: HudsonNYSerif;
    font-size: 14px;
    margin-top: 5px;
    color: #000000;
}