<ion-header [translucent]="true" class="h60">

</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-text color="primary">
    <h1 class="title">¿ QUE QUIERES TOMAR HOY ?</h1>
  </ion-text>
  <ion-toolbar>
    <ion-searchbar (click)="search()" placeholder="Old parr, Whisky, Cervezas" class="ionSearchbar"></ion-searchbar>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="all" (click)="show(1)">
        <ion-label class="segmentLabel" >DESTACADOS</ion-label>
      </ion-segment-button>
      <ion-segment-button value="favorites" (click)="show(2)" >
        <ion-label  >PROMOCIONES</ion-label>
      </ion-segment-button>
      <ion-segment-button value="productoNuevos"  (click)="show(3)" >
        <ion-label >PRODUCTOS NUEVOS</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


  <ion-toolbar *ngIf="ionSegment === 1">
    <swiper-container class="custom-swiper" [pagination]="{el: '.swiper-pagination', clickable:true}" [spaceBetween]="10" >
      <swiper-slide>
        <div>
          <ion-img src="../../assets/img/destacado.svg" alt="fondo Blanco"></ion-img>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div>
          <ion-img src="../../assets/img/destacado.svg" alt="fondo Blanco"></ion-img>
        </div>
      </swiper-slide>
      <swiper-slide>
        <div>
          <ion-img src="../../assets/img/destacado.svg" alt="fondo Blanco"></ion-img>
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-toolbar>

  <ion-toolbar *ngIf="ionSegment === 2">
    <swiper-container class="custom-swiper" [pagination]="{el: '.swiper-pagination', clickable:true}" [spaceBetween]="10" [freeMode]="true">
      <swiper-slide (click)="search()" *ngFor="let data of ListPromotions" >
        <div class="div-swiper-slide">
          <ion-img [src]="data.image" alt="fondo Blanco"></ion-img>
          <h1>{{data.name}}<span style="float: right">$ {{data.price}}</span></h1>
          <p style="color: #000000;"  class="PromotionDescription">{{data.description}}</p>
          <p style="padding-bottom: 5px;">Válido hasta: {{data.end_date}}</p>
        </div>
      </swiper-slide>

      <!-- <swiper-slide (click)="search()">
        <div class="div-swiper-slide">
          <ion-img src="../../assets/img/test.svg" alt="fondo Blanco"></ion-img>
          <h1>BUCHANAN´S DELUXE 1000 ML<span style="float: right">$ 125.000</span></h1>
          <p style="color: #000000;"  class="PromotionDescription">Descripción del producto, caracteristicas y demás información</p>
          <p style="padding-bottom: 5px;">Válido hasta: Enero 23, 2023</p>
        </div>
      </swiper-slide>
      <swiper-slide (click)="search()">
        <div class="div-swiper-slide">
          <ion-img src="../../assets/img/test.svg" alt="fondo Blanco"></ion-img>
          <h1>BUCHANAN´S DELUXE 1000 ML<span style="float: right">$ 125.000</span></h1>
          <p style="color: #000000;"  class="PromotionDescription">Descripción del producto, caracteristicas y demás información</p>
          <p style="padding-bottom: 5px;">Válido hasta: Enero 23, 2023</p>
        </div>
      </swiper-slide> -->
    </swiper-container>
  </ion-toolbar>

  <ion-toolbar *ngIf="ionSegment === 3">
    <swiper-container class="custom-swiper" [pagination]="{el: '.swiper-pagination', clickable:true}" [spaceBetween]="10" [freeMode]="true">
      <swiper-slide (click)="search()">
        <div class="div-swiper-slide">
          <ion-img src="../../assets/img/test.svg" alt="fondo Blanco"></ion-img>
          <h1>BUCHANAN´S DELUXE 1000 ML<span style="float: right">$ 125.000</span></h1>
          <p style="color: #000000;"  class="PromotionDescription">Descripción del producto, caracteristicas y demás información</p>
        </div>
      </swiper-slide>
      <swiper-slide (click)="search()">
        <div class="div-swiper-slide">
          <ion-img src="../../assets/img/test.svg" alt="fondo Blanco"></ion-img>
          <h1>BUCHANAN´S DELUXE 1000 ML<span style="float: right">$ 125.000</span></h1>
          <p style="color: #000000;"  class="PromotionDescription">Descripción del producto, caracteristicas y demás información</p>
        </div>
      </swiper-slide>
      <swiper-slide (click)="search()">
        <div class="div-swiper-slide">
          <ion-img src="../../assets/img/test.svg" alt="fondo Blanco"></ion-img>
          <h1>BUCHANAN´S DELUXE 1000 ML<span style="float: right">$ 125.000</span></h1>
          <p style="color: #000000;"  class="PromotionDescription">Descripción del producto, caracteristicas y demás información</p>
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-toolbar>

  <ion-toolbar *ngIf="ListSuggestedProducts?.length > 0" style="height: 350px;">
    <ion-grid>
      <ion-row>
        <ion-col size="8"><h1 class="title titleHome">PRODUCTOS RECOMENDADOS</h1></ion-col>
        <ion-col size="4"><a (click)="recommendedProduct()" class="aHome" style="float:right">ver todos</a></ion-col>
      </ion-row>
    </ion-grid>


    <swiper-container  [spaceBetween]="10"  [freeMode]="true" [slidesPerView]="ListSuggestedProducts.length > 2.5 ? 2.5 : ListSuggestedProducts.length" >
      <swiper-slide class="recomendados"  *ngFor="let data of ListSuggestedProducts" >
        <div class="swiperContainer" >
          <div class="swiperRecomendado"><ion-img [src]="data.product.image" alt="fondo Blanco"></ion-img></div>
          <h1 class="text-center">{{data.product.name | customPipe: 1}}</h1>
          <p class="font-w300 text-center">{{data.product.name | customPipe: 2}}</p>
          <p class="text-center description">{{data.product.description.slice(0,50)}}...</p>
          <span class="text-center">{{data.price | customCurrency :'.':'$ '}}</span>
        </div>
      </swiper-slide>
    </swiper-container>
  </ion-toolbar>

</ion-content>


