<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <!-- <ion-back-button icon="../../assets/icon/backIcon.svg"></ion-back-button> -->
        <ion-button class="btn-header" (click)="goToNewAddressMap()">
          <img width="25" height="25" src="../../assets/icon/backIcon.svg" alt="Back" />
        </ion-button>
        <ion-button class="btn-header">
          <img width="100" height="100" class="delivery-icon" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </ion-button>
        <ion-button class="btn-header">
          <!-- <img class="delivery-icon" src="../../assets/icon/right-arrow.svg" alt="right arrow"> -->
          <!-- <img width="15" height="15" src="../../assets/icon/white-x.svg" alt=""> -->
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true"  [formGroup]="myForm">
  <div class="header-container">
    <h1>CONFIRMA LOS DETALLES DE LA DIRECCIÓN</h1>
  </div>
  <!-- <div class="thumbnail-container">
    <h2>Completa tu dirección</h2>
    <p>Agrega la nomenclaruta que haga falta</p>
  </div> -->
  <div class="form-container">
    <div class="mb-10">
      <ion-label>Dirección</ion-label>
      <ion-input  formControlName="addressInput" class="custom" type="text" placeholder="Cra 26 # 33 - 17" required></ion-input>
    </div>
    <div>
      <ion-label>Detalles</ion-label>
      <ion-input  formControlName="addressDetail" class="custom" type="text" placeholder="Torre / apto / casa / detalles" required></ion-input>
    </div>
  </div>
  <div class="custom-checkbox mb10">
    <ion-checkbox formControlName="condition" class="custom-checkbox"></ion-checkbox>
    <ion-label class="font-secondary">Guardar esta dirección para próximos envíos</ion-label>
  </div> 
  <ion-buttons>
    <div class="btn-footer-container">
      <!-- <ion-button [class]="btnCSS" [disabled]="isFormValid" (click)="showAlertCreatePaymentMethod()">Agregar</ion-button> -->
      <ion-button class="btn-footer" (click)="submit()">Confirmar</ion-button>
    </div>
  </ion-buttons>
</ion-content>
