<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <ion-button (click)="goBack()">
          <img src="../../assets/icon/backIcon.svg" alt="Back" />
        </ion-button>
        <div class="dev-logo-header">
          <img class="delivery-icon" width="50" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </div>
        <ion-button>
          <!-- <img class="delivery-icon" src="../../assets/icon/right-arrow.svg" alt="right arrow"> -->
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content-scroll">
  <div class="search-container">
    <ion-searchbar [(ngModel)]="inputText" placeholder="Old Parr, Whisky" (ngModelChange)="getProductsSearched($event)"></ion-searchbar>
  </div>
  <div class="Not-found-container" *ngIf="products.length === 0 && inputText && !search">
    <h2 class="no-obtuvimos">no obtuvimos resultados para</h2>
    <p class="bad-request-inputText">"{{inputText}}"</p>
    <p class="interested">Te podría interesar</p>
  </div>
  <ion-content class="ion-content-infinite-recommended" *ngIf="products.length === 0 && inputText &&  !search; else showProductSearched">
      <ion-list [class]="listClass">
        <div class="product-recommended" *ngFor="let item of products1; let index" (click)="getProductDetail(item)">
          <figure class="img-container">
            <figure class="promotion-container">
              <h4 class="discount-number">50</h4>
              <p class="discount-off">% off</p>
              <img class="promotion-icon" src="../../assets/icon/DiscountIcon.svg" alt="">
            </figure>
            <img [src]="item.product.image" alt="">
          </figure>
          <div class="info-searched-container">
            <h2 class="product-name-recommended">{{item.product.name | customPipe: 1}}</h2>
            <p class="product-description-recommended">{{item.product.description.slice(0,70)}}...</p>
            <h1 class="product-price-recommended">{{item.price | customCurrency :'.':'$ '}}</h1>
          </div>
        </div>
      </ion-list>
      <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
  <ng-template #showProductSearched>
    <ion-content class="ion-content-infinite" *ngIf="inputText">
      <ion-list>
        <div class="product-searched" *ngFor="let item of products; let index" (click)="getProductDetail(item)">
          <figure class="img-container">
            <img class="product-img" [src]="item.product.image" alt="">
            <div class="promotion-icon" *ngIf="item.discount > 0">
              <p>{{item.discount}}</p>
              <p>%off</p>
              <img src="../../assets/icon/Discount.png" alt="">
            </div>
          </figure>
          <div [class]="item.searchContainer">
            <div class="info-header-container" *ngIf="item.store_type === 2; else canjesElse">
              <h2 class="Product-name-searched">{{item.product.name}}</h2>
              <h2>{{item.points}} J</h2>
            </div>
            <ng-template #canjesElse>
              <h2 class="Product-name-searched">{{item.product.name}}</h2>
            </ng-template>
            <p class="product-description-searched">{{item.product.description.slice(0,80)}}...</p>
            <div class="product-price-container" *ngIf="item.store_type !== 2">
              <!-- <p class="presentation">Presentación: {{item.product.name.split(' ')[item.product.name.split(' ').length - 2]}} ml hola</p> -->
              <p class="presentation">Presentación: {{item.presentation}}</p>
              <h2 class="Product-price-searched">{{item.price | customCurrency :'.':'$ '}}</h2>
            </div>
          </div>
        </div>
      </ion-list>
      <!-- <ion-infinite-scroll (ionInfinite)="onIonInfinite($event)">
        <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll> -->
    </ion-content>
  </ng-template>
</ion-content>


