ion-header ion-toolbar {
  --background: #272727;
}

ion-header ion-toolbar ion-buttons {
  padding: 10px 10px 10px 0px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.ion-content-scroll {
  display: flex;
  --overflow: hidden;
}

ion-content .search-container{
  margin: 30px 0 0px 0;
  width: 100%;
  height: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.ion-content-infinite {
  height: 80%;
  // display: flex;
  // --background: blue;
  // overflow: auto;
}

ion-content .search-container ion-searchbar {
  padding: 0;
  width: 90%;
  font-family: 'weblysleekuisb';
  font-size: 16px;
  font-weight: 600  ;
  --background: white;
  --box-shadow: rgba(46, 46, 46, 0.3) 0px 0px 0px 1px;
  --border-radius: 10px;
}

.product-name-searched {
  font-size: 16px;
  font-family: 'weblysleekuisb';
}

ion-list {
  padding: 10px 0 20px 0;
  display: flex;
  flex-direction: column;
}

ion-content .product-searched {
  margin-bottom: 15px !important;
  margin: 0;
  width: 90%;
  height: 150px;
  display: flex;
  border-radius: 15px;
  border: 1px solid rgb(170, 170, 170);
  background-color: white;
  align-self: center;
}

ion-content .product-searched .img-container {
  margin: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  // background-color: rgb(255, 0, 0);
}

ion-content .product-searched figure img {
  width: 110px;
  height: 110px;
}

ion-content .product-searched .info-searched-container {
  padding: 10px;
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  // background-color: blue;
}

ion-content .product-searched .info-searched-container .product-price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h2 {
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

.product-description {
  margin: 0;
  font-size: 14px;
  font-family: 'weblysleekuil';
  font-weight: 300;
}

.presentation {
  margin: 0;
  font-size: 12px;
  font-family: 'weblysleekuil';
  font-weight: 300;
}

.price {
  font-size: 16px;
  font-family: 'HudsonNYSerif';
  line-height: 18.75px;
}

.product-description-card {
font-size: 12px;
font-family: weblysleekuil;
text-align: center;
}


///////////////////////////Bad request//////////////////////////

.grid-list {
  margin: auto;
  // padding: 10px;
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: minmax(100px, 1fr);
  column-gap: 10px;
  row-gap: 10px;
}

.product-recommended {
  // padding: 10px;
  min-height: 284px;
  max-height: 284px;
  border: 1px solid rgb(190, 190, 190);
  border-radius: 10px;
}

.product-recommended .img-container {
  padding: 5px;
  position: relative;
  width: 100%;
  height: 40%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product-recommended .img-container .promotion-container{
  margin: 0;
  position: absolute;
  width: 40px;
  height: 40px;
  top: 16px;
  left: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.product-recommended .img-container .promotion-container .discount-number {
  margin: 0;
  padding: 0;
  font-family: 'HudsonNYSerif';
  font-size: 16px;
  color: white;
  z-index: 1;
}

.product-recommended .img-container .promotion-container .discount-off {
  margin: 0;
  padding: 0;
  font-family: 'HudsonNYSerif';
  font-size: 6px;
  color: white;
  z-index: 1;
}

.promotion-icon{
  position: absolute;
}

.product-recommended .img-container img{
  // width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-recommended .info-searched-container {
  width: 100%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.product-name-recommended {
  padding: 5px !important;
  font-family: 'weblysleekuisb';
  font-size: 16px;
  font-weight: 600;
  line-height: 21.28px;
  text-align: center;
}

.product-description-recommended {
  margin: 0;
  padding: 10px;
  font-family: 'weblysleekuil';
  font-size: 12px;
  text-align: center;
  font-weight: 300;
}

.product-price-recommended {
  font-size: 18px;
}








.no-obtuvimos {
  margin-top: 10px;
  font-size: 16px;
}

.bad-request-container {
  margin: auto;
  width: 90%;
}

.bad-request-inputText {
  margin: 0;
  font-size: 16px;
  font-family: 'weblysleekuil';
}

.bad-request {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.interested {
  margin: 0 0 10px 27px;
  font-size: 16px;
  font-family: 'weblysleekuisb';
  font-weight: 600;
  align-self: flex-start;
}

.scroll-grid-container {
  background-color: yellow;
  overflow: auto  ;
}

// .grid-container-list {
//   padding: 0;
//   margin: auto;
//   width: 90%;
//   height: 100%;
//   display: grid;
//   grid-template-columns: 1fr 1fr;
//   grid-template-rows: auto;
//   column-gap: 10px;
//   row-gap: 1em;
// }

.card-title {
text-align: center;
font-size: 12px;
}

.card-not-found {
padding: 5px;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border-radius: 10px;
border: 1px solid rgb(170, 170, 170);
}

.product-description-card {
margin: 0;
}

.price-card {

}

