ion-header ion-toolbar {
    --background: #272727;
}

ion-header ion-toolbar ion-buttons {
    padding: 10px 10px 10px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.ion-content-scroll {
    display: flex;
    --overflow: hidden;
}

ion-content .search-container{
    padding: 50px 0 50px 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

ion-content .search-container ion-searchbar {
    padding: 0;
    width: 95%;
    --background: white;
    --box-shadow: rgba(46, 46, 46, 0.3) 0px 0px 0px 1px;
    --border-radius: 10px;
}

ion-list {
    padding: 10px 0 20px 0;
    display: flex;
    flex-direction: column;
}

ion-content .product-searched {
    margin-bottom: 10px !important;
    margin: 0;
    width: 90%;
    height: 150px;
    display: flex;
    border-radius: 15px;
    border: 1px solid rgb(170, 170, 170);
    background-color: white;
    align-self: center;
}

ion-content .product-searched .img-container {
    margin: 0;
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: rgb(255, 0, 0);
}

ion-content .product-searched figure img {
    width: 110px;
    height: 110px;
}

ion-content .product-searched .info-searched-container {
    padding: 10px;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    // background-color: blue;
}

ion-content .product-searched .info-searched-container .product-price-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h2 {
    margin: 0;
    font-size: 14px;
    font-weight: 600;
}

.presentation, .product-description {
    font-size: 12px;
    font-family: weblysleekuil;
}

.product-description-card {
  font-size: 12px;
  font-family: weblysleekuil;
  text-align: center;
}


///////////////////////////Bad request//////////////////////////

.bad-request-container {
    margin: auto;
    width: 95%;
}

.bad-request-inputText {
    font-size: 16px;
    font-family: weblysleekuil;
}

.bad-request {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.interested {
    font-size: 16px;
    font-family: weblysleekuil;
    font-weight: 900;
}

<<<<<<< HEAD
.related-products-container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 10px;
    row-gap: 1em;
    overflow: auto;
    background-color: blue;
}
=======
.scroll-grid-container {
  background-color: yellow;
  overflow: auto  ;
}

.grid-container-list {
  margin: auto;
  width: 95%;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 1em;
}

.card-title {
  text-align: center;
  font-size: 12px;
}

.card-not-found {
  padding: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  border: 1px solid rgb(170, 170, 170);
}

.product-description-card {
  margin: 0;
}

.price-card {

}


>>>>>>> abefd331600263198773b44891a77a45da3dcded
