<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <!-- <ion-back-button>
          <img class="delivery-icon" src="../../assets/icon/backIcon.svg" alt="back arrow">
        </ion-back-button> -->
        <ion-back-button icon="../../assets/icon/backIcon.svg"></ion-back-button>
        <ion-button>
          <img class="delivery-icon" width="40" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </ion-button>
        <ion-button>
          <!-- <img class="delivery-icon" src="../../assets/icon/right-arrow.svg" alt="right arrow"> -->
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-content-scroll">
  <div class="search-container">
    <ion-searchbar [(ngModel)]="inputText" placeholder="Old Parr, Whisky" (ngModelChange)="getProductsSearched($event)"></ion-searchbar>
    <h2 class="no-obtuvimos">no obtuvimos resultados para</h2>
    <p class="bad-request-inputText">"{{inputText}}"</p>
    <p class="interested">Te podría interesar</p>
  </div>
  <!-- <div class="recommended-title-container">
    <h2 class="title-header">Productos recomendados</h2>
  </div> -->
  <ion-content class="ion-content-infinite">
    <!-- <ion-list [class]="listClass"> -->
      <ion-list [class]="listClass">
      <div class="product-recommended" *ngFor="let item of products1; let index">
        <figure class="img-container">
          <!-- <figure class="promotion-container"> Todo, cuando pasen la API
            <h4 class="discount-number">50</h4>
            <p class="discount-off">% off</p>
            <img class="promotion-icon" src="../../assets/icon/DiscountIcon.svg" alt="">
          </figure> -->
          <img [src]="item.product.image" alt="">
        </figure>
        <div class="info-searched-container">
          <h2 class="product-name-recommended">{{item.product.name}}</h2>
          <p class="product-description-recommended">{{item.product.description.slice(0,70)}}...</p>
          <h1 class="product-price-recommended">{{item.price | customCurrency :'.':'$ '}}</h1>
        </div>
      </div>
    </ion-list>
    <!-- <ion-infinite-scroll (ionInfinite)="loadData($event)"> -->
      <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-content>


