<ion-header [translucent]="true" style="margin-top: 65px"> </ion-header>

<ion-content [fullscreen]="true" [formGroup]="myForm" id="contentCart">
    <div [ngClass]="contentform">
      <h1 class="text-center">Dirección de entrega</h1>
      <ion-row class="ion-row">
        <ion-col size="12">
          <label class="text-center">Mis ubicaciones</label>
          <!-- <ion-input
            formControlName="location"
            class="custom"
            type="text"
            placeholder="Selecciona una ubicación"
            required
          ></ion-input> -->
          <ion-select 
            formControlName="location"
            class="custom"
            type="text"
            placeholder="Selecciona una ubicación"
            label="Selecciona una ubicación" 
            label-placement="floating" 
            fill="solid" 
            (ionChange)="locationSelected($event)">
            <ion-select-option *ngFor="let data of myLocations" [value]="data.id">{{data.name}}</ion-select-option>
          </ion-select>
        </ion-col>
        <ion-col size="12" (click)="sendTo('new-address')">
          <label class="text-center">Ingresa una dirección</label>
          <ion-input
            formControlName="address"
            class="custom"
            type="text"
            placeholder="Ej: Cra 26#33-17 "
            required
          ></ion-input>
          <ion-input
            formControlName="addressDetail"
            class="number"
            type="text"
            placeholder="Torre / Apto / Casa / Detalles"
            required
          ></ion-input>
        </ion-col>
      </ion-row>
      <h1 class="text-center">Contacto</h1>
      <ion-row class="ion-row">
        <ion-col size="12">
          <!-- <label>Contacto</label> -->
          <ion-input
            formControlName="contact"
            class="time"
            type="text"
            placeholder="3153521966"
            required
            (change)="updateNumber()"
            [maskito]="phoneMask" [maskitoElement]="maskPredicate"
          ></ion-input>
        </ion-col>
      </ion-row>
      <h1 class="text-center">¿Tienes un código de descuento?</h1>
      <ion-row class="ion-row">
        <!-- <ion-col size="12" (click)="sendTo('payment-methods')">
          <ion-input
            formControlName="paymentMethod"
            class="number"
            type="text"
            placeholder="Selecciona un metodo de pago"
            required
          ></ion-input>
        </ion-col> -->
        <ion-col size="6">
          <ion-input
            formControlName="disccount"
            class="number"
            type="text"
            placeholder="Ej:DESCRESJOTAS"
          ></ion-input>
        </ion-col>
        <ion-col size="6" class="applyCol">
          <ion-button class="buttonApply" (click)="searchCode()">
            <span style="margin-top: -5px">APLICAR</span>
          </ion-button>
        </ion-col>
      </ion-row>
    </div>
   
    <div [ngClass]="buttonWelcome">
      <h1 class="text-center">Obtienes por tu compra {{points}} J</h1>
      <div class="card">
        <ion-grid class="p0" >
          <ion-row style="background:none">
            <ion-col size="6" class="heightCustom">
              <h4 class="subtotal">SUBTOTAL:</h4>
            </ion-col>
            <ion-col size="6"  class="heightCustom">
              <h4 class="paySubTotal">{{subtotal | customCurrency :'.':'$ '}}</h4>
            </ion-col>
            <ion-col size="6">
              <h4 class="subtotal">DOMICILIO:</h4>
            </ion-col>
            <ion-col size="6">
              <h4 class="paySubTotal">{{delivery| customCurrency :'.':'$ ' }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p class="line"></p>
        <ion-grid class="p0">
          <ion-row>
            <ion-col>
              <h4>Total:</h4>
            </ion-col>
            <ion-col>
              <h4 class="payTotal">{{total | customCurrency :'.':'$ '}}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p class="text">
          Domicilio gratis por compras mayores a $ {{minimumOrderAmount}} IVA incluido.
        </p>
        <!-- <ion-button [ngClass]="buttonStyle" [disabled]="!isFormValid" (click)="submit()" -->
        <ion-button [ngClass]="buttonStyle" [disabled]="!isFormValid" (click)="sendTo('payment-methods')"
          ><span style="margin-top: -5px" >CONFIRMAR</span></ion-button
        >
      </div>
    </div>
</ion-content>


