<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons class="toolbar-detail-container">
      <!-- <ion-back-button icon="../../assets/icon/backIcon.svg"></ion-back-button> -->
      <ion-button class="btn-header">
        <!-- <img width="25" height="25" src="../../assets/icon/backIcon.svg" alt="Back" /> -->
      </ion-button>
      <ion-button class="btn-header">
        <img width="40" height="40" class="delivery-icon" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
      </ion-button>
      <ion-button class="btn-header" >
        <!-- <img class="delivery-icon" src="../../assets/icon/right-arrow.svg" alt="right arrow"> -->
        <img width="24" height="24"  src="../../assets/icon/white-x.svg" alt="">
      </ion-button>
    </ion-buttons>
</ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">user-exchanges</ion-title>
    </ion-toolbar>
  </ion-header>
</ion-content>
