<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <ion-button (click)="goBack()">
          <img src="../../assets/icon/backIcon.svg" alt="Back" />
        </ion-button>
        <div class="dev-logo-header" style="margin-right: 0px;">
          <img class="delivery-icon" width="50" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </div>
        <ion-button>
          <img class="delivery-icon" src="../../assets/icon/right-arrow.svg" alt="right arrow">
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<app-success-lottie *ngIf="isSuccess"/>

<ion-content >
  <!-- Normal Flow -->
  <figure class="product-img-container" *ngIf="!isPromotion && !isNewProduct">
    <figure class="promotion-container" *ngIf="discount !== null && discount > 0">
      <h2 class="Promotion-number">{{discount}}</h2>
      <p class="Promotion-off">% off</p>
      <img class="promotion-icon" src="../../assets/icon/DiscountIcon.svg" alt="">
    </figure>
    <!-- <img class="product-img" src="../../assets/icon/Bailles.svg" alt=""> -->
    <img class="product-img" [src]="product.image" alt="">
  </figure>
  <!-- Promotion Flow -->
  <figure class="product-img-promotion" *ngIf="isPromotion">
    <!-- <img class="product-img" src="../../assets/icon/Bailles.svg" alt=""> -->
    <img class="product-img" [src]="product.image" alt="">
  </figure>

  <!-- new product Flow -->
  <figure class="product-img-promotion" *ngIf="isNewProduct" style="height: 365px;">
    <!-- <img class="product-img" src="../../assets/icon/Bailles.svg" alt=""> -->
    <div>
      <h2 class="namePromotion">{{product.name}} <br>{{price | customCurrency :'.':'$ '}}</h2>
    </div>
    <div>
      <img class="imgPromotion" [src]="product.image" alt="" >
    </div>
  </figure>

  <section [class]="section">
    <article>
      <h2 class="Product-name" *ngIf="!isNewProduct && !isPromotion">{{product.name}}</h2>
      <h2 class="Product-name" *ngIf="isPromotion" style="text-align: center;">{{product.name}}</h2>
      <h4 class="DesPromotion" *ngIf="isNewProduct">Descripción</h4>
      <p class="Product-description">{{product.description}}</p>
    </article>
    <div id="footer">
        <article class="features" *ngIf="features?.length > 0">
          <h3 class="DesPromotion" *ngIf="isNewProduct">Características</h3>
          <h3 class="DesPromotionHudsonNYSerif" *ngIf="!isNewProduct && !isPromotion">Características</h3>
          <div class="Chip-container" >
            <ion-chip *ngFor="let data of features">{{data}}</ion-chip>
          </div>
        </article>
        <article *ngIf="!isNewProduct">
          <h2 *ngIf="isPromotion" class="Now"><span class="Before">Válido hasta: {{details.end_date}} </span></h2>
          <h2 *ngIf="beforePrice" class="Before-price"><span class="Before">Antes: </span><span style="text-decoration: line-through;">{{beforePrice | customCurrency :'.':'$ '}}</span></h2>
          <h2 class="Price-now"><span class="Now">{{ isPromotion || discount === 0 || discount === null ? 'Precio:' : 'Ahora:' }} </span>{{price | customCurrency :'.':'$ '}}</h2>
        </article>
    </div>
  </section>
</ion-content>
<ion-footer *ngIf="!isPromotion">
  <ion-toolbar class="Toolbar-footer">
          <div class="Btns-container">
            <ion-buttons class="buttons-left">
              <ion-button class="Btn-minus" (click)="subtractBtn()" [disabled]="quantity <=1 ? true : false">
                <ion-icon slot="icon-only" color="light" name="remove-outline"></ion-icon>
              </ion-button>
              <h4 class="Quantity">{{quantity}}</h4>
              <ion-button class="Btn-plus" (click)="addBtn()" [disabled]="quantity >= 10 ? true : false">
                <ion-icon  slot="icon-only" color="light" size="large" name="add-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons class="buttons-right">
              <ion-button class="Btn-add" (click)="setCart()">Agregar</ion-button>
            </ion-buttons>
          </div>
  </ion-toolbar>
</ion-footer>
<ion-footer *ngIf="isPromotion">
  <ion-toolbar   class="Toolbar-footer-Promotion">
          <div class="Btns-container">
            <ion-buttons class="buttons-left">
              <ion-button class="Btn-minus" (click)="subtractBtn()" [disabled]="quantity <=1 ? true : false">
                <ion-icon slot="icon-only" color="light" name="remove-outline"></ion-icon>
              </ion-button>
              <h4 class="Quantity">{{quantity}}</h4>
              <ion-button class="Btn-plus" (click)="addBtn()" [disabled]="quantity >= 10 ? true : false">
                <ion-icon  slot="icon-only" color="light" size="large" name="add-outline"></ion-icon>
              </ion-button>
            </ion-buttons>
            <ion-buttons class="buttons-right">
              <ion-button class="Btn-add" (click)="setCart()">Agregar</ion-button>
            </ion-buttons>
          </div>
  </ion-toolbar>
</ion-footer>


<!-- <ion-card>
  <figure class="img-card-container">
    <img class="discount-img" src="../../../assets/icon/Discount icon.png" alt="">
    <img class="card-img" alt="Silhouette of mountains" [src]="product.image" />
  </figure>
  <div class="description-card-container">
    <ion-card-header>
      <ion-card-title>{{product.name}}</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      {{product.description}}
    </ion-card-content>
  </div>
</ion-card> -->
