ion-header ion-toolbar {
    --background: #272727;
}

ion-header ion-toolbar ion-buttons {
    padding: 10px 10px 10px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
}

ion-content {
    --padding-top: 5%;
}

ion-content .product-img-container {
    margin: 0px;
    width: 100%;
    height: 45%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
ion-content .product-img-promotion {
  margin: 0px;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 20px;
}

ion-content .product-img-container .promotion-container{
    position: absolute;
    width: 99px;
    height: 99px;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.Promotion-number {
  margin: 0;
  font-size: 35px;
}

.Promotion-off {
  font-size: 13px;
}

ion-content .product-img-container .product-img {
    height: 100%;
    object-fit: contain;
}

ion-content .product-img-container .promotion-container .promotion-icon{
    position: absolute;
}

ion-content .product-img-container .promotion-container :nth-child(-n + 2){
    margin: 0;
    padding: 0;
    color: white;
    z-index: 1;
}

ion-content .product-img-container .promotion-container h4{
    font-size: 40px;
}

.sectionWithBg {
    padding: 0px 20px 0 20px;
    width: 100%;
    height: 100%;
    /* display: flex;*/
    flex-direction: column;
    justify-content: space-around;
    border-radius: 35px 35px 0 0;
    background-color: #F7F5F5;
    position: fixed;
}
.sectionWithoutBg {
  padding: 0px 20px 0 20px;
  width: 100%;
  height: 100%;
  /* display: flex;*/
  flex-direction: column;
  justify-content: space-around;
  border-radius: 35px 35px 0 0;
  background-color: white;
  position: fixed;
}

section .features div {
    display: flex;
    justify-content: space-between;
}

section .features div ion-chip {
  margin: 0;
  padding: 20px;
  background-color: white;
  border-radius: 10px;
}

article.features {
  margin-bottom: 30px;
}

ion-footer ion-toolbar {
    // --border-width: 0;
    // --background: #F7F5F5;
}

.Product-name {
  margin: 0;
  margin-top: 20px;
  font-size: 26px;
}

.Product-description {
  margin: 20px 0 0 0;
  font-family: 'weblysleekuil';
  font-size: 16px;
}

.Features-title {
  margin: 0;
  font-size: 26px;
}

.Chip-container {
  margin: 16px 0 0 0;
}

.Price-now {
  margin: 0;
  font-size: 24px;
}

.Now {
  font-family: 'weblysleekuisb';
  font-size: 20px;
}

section article .Before-price {
  margin: 0;
  font-size: 18px;
  color: #BBBBBB;
}

.Before {
  font-size: 18px;
  font-family: 'weblysleekuil';
}

.add-product {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Btn-minus {
  background-color: #FDBD00;
  width: 35px;
  height: 35px;
  border-radius: 50%
}

.Btn-plus {
  background-color: #FDBD00;
  width: 35px;
  height: 35px;
  border-radius: 50%
}

ion-footer .Toolbar-footer {
  padding: 20px 20px 20px 20px;
}

.Btns-container {
  width: 100%;
  display: flex;
  align-items: center;
}

.buttons-left {
  width: 40%;
  display: flex;
  justify-content: space-around;
}

.buttons-right {
  width: 60%;
  display: flex;
  justify-content: flex-end;
}

.Quantity {
  margin: 0;
  font-family: 'weblysleekuisb';
  font-size: 26px;
}

.Btn-add {
  width: 80%;
  height: 40px;
  border-radius: 5px;
  --color: white;
  font-family: 'HudsonNYSerif';
  font-size: 17px;
  background-color: #99791C;
  --padding-bottom: 4px;
}
.lottie{
  position: fixed;
  margin-top: 50%;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer {
  position: fixed;
  margin-top: 10px;
  left: 0;
  bottom: 100px;
  width: 100%;
  padding: 0px 20px;
}
.namePromotion{
  position: fixed;
  top: 100px;
  left: 20px;
  width: 50%;
  font-size: 36px;
}
.imgPromotion{
  position: fixed;
  right: -75px;
  top: 100px;
  z-index: 2;
  max-width: 420px;
}
.DesPromotion{
  font-size: 26px;
  font-weight: 600;
  color: #000000;
  font-family: 'weblysleekuil';
  margin-top: 50px;
}
.DesPromotionHudsonNYSerif{
  font-size: 26px;
  font-weight: 600;
  color: #000000;
  font-family: 'HudsonNYSerif';
  margin-top: 50px;
}