ion-header ion-toolbar {
  --background: #272727;
}

ion-header ion-toolbar ion-buttons {
  // padding: 10px 10px 10px 0px;
  color: white;
  display: flex;
  justify-content: space-between;
}

.btn-header {
  margin: 0;
  padding: 0;
  width: 56px;
}

ion-content .header-content-container {
  padding: 13px 20px;
  width: 100%;
  height: 6%;
  background-color: #404040;
}

ion-content .header-content-container .header-content-title {
  margin: 0;
  font-size: 22px;
  color: white;
  text-align: center;
}

ion-content .status-container {
  padding: 13px 20px;
  width: 100%;
  height: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-content .status-container h3 {
  margin: 0 0 0 8px;
  font-size: 16px;
  font-family: 'weblysleekuisb';
}

ion-content .list-container {
  margin: 0;
  padding: 7px 20px 0 20px;
  width: 100%;
  height: 44%;
  overflow: auto;
}

ion-content .list-container .card-container {
  margin: 0 0 10px 0;
  padding: 0;
  width: 100%;
  height: 110px;
  display: flex;
  overflow: hidden;
  border: 1px solid #BBBBBB;
  border-radius: 10px;
}

ion-content .list-container .card-container .img-container {
  margin: 0;
  width: 30%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

ion-content .list-container .card-container .img-container img{
  width: 90px;
  height: 90px;
}

ion-content .list-container .card-container .info-container {
  padding: 20px 0 10px 0;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

ion-content .list-container .card-container .info-container h2{
  margin: 0;
  font-family: 'weblysleekuisb';
  font-size: 16px;
}

ion-content .list-container .card-container .info-container .presentation{
  margin: 0;
  font-size: 12px;
  font-family: 'weblysleekuil';
}

ion-content .list-container .card-container .info-container .quantity{
  margin: 0;
  font-family: 'weblysleekuisb';
  font-size: 12px;
}

ion-content .list-container .card-container .price-container {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: start;
}

ion-content .list-container .card-container .price-container h2{
  font-size: 16px;
}

ion-content .invoice-container {
  width: 100%;
  height: 44%;
  background-color: green;
}

ion-content .invoice-container h2{
  margin: 0;
}


