ion-header ion-toolbar {
  --background: #272727;
  ion-buttons {
    color: white;
    display: flex;
    justify-content: space-between;
    .btn-header {
      margin: 0;
      padding: 0;
      width: 56px;
    }
  }
}

ion-content {
  .search-container{
    margin: 0;
    padding-top: 20px;
    width: 100%;
    height: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: #F7F5F5;
    ion-searchbar {
      padding: 0;
      width: 90%;
      font-family: 'weblysleekuisb';
      font-size: 16px;
      font-weight: 600  ;
      --background: rgb(255, 255, 255);
      --box-shadow: rgba(46, 46, 46, 0.3) 0px 0px 0px 1px;
      --border-radius: 10px;
    }
    figure {
      margin: 0;
      padding: 8px;
      width: 90%;
      display: flex;
      align-items: center;
      img {
        margin: 0;
        padding: 0;
      }
    }
  }
  .currentLocation {
    margin: 0 auto;
    padding: 20px 0 0 0;
    width: 90%;
    height: 11%;
    display: flex;
    border-bottom: 1px solid #BBBBBB;
    // background-color: blue;
    figure {
      margin: 0;
      padding: 0;
      width: 15%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
      img {
        margin: 0;
        padding: 0;
        width: 35px;
      }
    }
    .btn-my-address-container {
      // padding-bottom: 32px;
      width: 100%;
      height: 100%;
      p {
        margin: 0;
        padding: 0 0 0 10px;
        font-family: 'weblysleekuisb';
      }
    }
  }
  .google-results-container {
    margin: 0 auto;
    width: 90%;
    height: 76%;
    // background-color: gray;
    .results-list {
      margin: 0;
      padding: 0;
      width: 100%;
      height: 300px;
      // background-color: green;
      overflow: auto;
      .google-result {
        margin: 0 0 0 auto;
        padding: 10px 0;
        width: 95%;
        border-bottom: 1px solid #BBBBBB;
        // background-color: aqua;
        h2 {
          margin: 0;
          padding: 0;
          font-family: 'weblysleekuisb';
          font-size: 16px;
        }
        p {
          margin: 0;
          padding: 0;
          font-family: 'weblysleekuil';
          font-size: 12px;
        }
      }
    }
    .not-find {
      padding: 30px 0 0 0;
      width: 100%;
      height: 50%;
      // background-color: yellow;
      .not-find-container {
        margin: 0 auto;
        width: 90%;
        h2 {
          margin: 0;
          padding: 0;
          font-family: 'weblysleekuisb';
          font-size: 16px;
        }
        .arrow {
          margin: 0;
          padding: 0;
          text-align: end;
          font-family: 'weblysleekuisb';
          font-size: 16px;
          font-weight: 900;
        }
        p {
          margin: 0;
          padding: 0;
          font-family: 'weblysleekuil';
          font-size: 14px;
        }
      }
    }
  }
}
