<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <!-- <ion-back-button icon="../../assets/icon/backIcon.svg"></ion-back-button> -->
        <ion-button class="btn-header">
          <!-- <img width="25" height="25" src="../../assets/icon/backIcon.svg" alt="Back" /> -->
        </ion-button>
        <ion-button class="btn-header">
          <img width="40" height="40" class="delivery-icon" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </ion-button>
        <ion-button class="btn-header">
          <!-- <img class="delivery-icon" src="../../assets/icon/right-arrow.svg" alt="right arrow"> -->
          <img width="15" height="15" src="../../assets/icon/white-x.svg" alt="">
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="search-container">
    <!-- <ion-searchbar [(ngModel)]="inputText" placeholder="Old Parr, Whisky" (ngModelChange)="getProductsSearched($event)"></ion-searchbar> -->
    <ion-searchbar placeholder="Ingresa una dirección" ></ion-searchbar>
    <figure>
      <img src="../../assets/img/google.svg" alt="">
    </figure>
  </div>
  <div class="currentLocation">
    <figure>
      <img src="../../assets/img/newAddressIcon.svg" alt="">
    </figure>
    <div class="btn-my-address-container" (click)="currentLocation()">
      <p>Usar mi ubicación actual</p>
    </div>
  </div>
  <div class="google-results-container">
    <div class="results-list">
      <div class="google-result">
        <h2>Altos de cañaveral etapa 5</h2>
        <p>Cra 24, Floridablanca, Santander, Colombia</p>
      </div>
      <div class="google-result">
        <h2>Altos de cañaveral etapa 5</h2>
        <p>Cra 24, Floridablanca, Santander, Colombia</p>
      </div>
      <div class="google-result">
        <h2>Altos de cañaveral etapa 5</h2>
        <p>Cra 24, Floridablanca, Santander, Colombia</p>
      </div>
      <div class="google-result">
        <h2>Altos de cañaveral etapa 5</h2>
        <p>Cra 24, Floridablanca, Santander, Colombia</p>
      </div>
      <div class="google-result">
        <h2>Altos de cañaveral etapa 5</h2>
        <p>Cra 24, Floridablanca, Santander, Colombia</p>
      </div>
      <div class="google-result">
        <h2>Altos de cañaveral etapa 5</h2>
        <p>Cra 24, Floridablanca, Santander, Colombia</p>
      </div>
      <div class="google-result">
        <h2>Altos de cañaveral etapa 5</h2>
        <p>Cra 24, Floridablanca, Santander, Colombia</p>
      </div>
    </div>
    <div class="not-find" (click)="goToMap()">
      <div class="not-find-container">
        <h2>¿No encuentras la dirección?</h2>
        <p class="arrow">></p>
        <p>Fija un punto en el mapa para la entrega</p>
      </div>
    </div>
  </div>
</ion-content>
