.title-jotas-container {
    width: 100%;
    // height: 50px;
    height: 7%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99791C;
    color: #FFFFFF;
  }

  .cart-container {
    padding-bottom: 8px;
    // margin-top: -6px;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #404040;
  }

  
  .title-jotas-container .title-jotas {
    margin: 0;
    font-size: 17px;
    margin-top: -5px;
  }

  .cart-container .title-jotas {
    margin: 0;
    font-size: 20px;
    color: #FFFFFF;
  }

  .container{
    height: 93%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .childContainer{
    text-align: center;
  }
  p {
    font-family:weblysleekuil;
    font-size: 17px;
    color: #000000;
    text-align: center;
  }

  .content-exchange-products1 {
    width: 100%;
    height: 56vh;
    overflow: auto;
    --ion-background-color: #ECECEC;
  }
  .content-exchange-products2 {
    width: 100%;
    height: 42vh;
    overflow: auto;
    --ion-background-color: #ECECEC;
  }

  .content-exchange-products3 {
    width: 100%;
    height: 55vh;
    overflow: auto;
    --ion-background-color: #ECECEC;
  }
  
  .list-container {
    margin: 0;
    padding: 20px 20px 0 20px;
  }
  
  .list-container .product-exchange-container {
    margin-bottom: 16px;
    display: flex;
    height: 120px;
    border: 1px solid #BBBBBB;
    border-radius: 10px;
    background-color: white;
  }
  
  .list-container .product-exchange-container .img-container {
    margin: 0;
    padding: 0;
    width: 90px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100px;
  }
  
  .list-container .product-exchange-container .img-container img {
    // width: 110px;
    // height: 110px;
  }
  
  .list-container .product-exchange-container .info-exchange-container {
    margin: 0;
    padding: 20px 0px 20px 15px;
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .list-container .product-exchange-container .info-exchange-container .product-name-jotas-container {
    display: flex;
    align-items: baseline;
  }
  
  .list-container .product-exchange-container .info-exchange-container .product-name-jotas-container > * {
    display: flex;
    align-items: center;
  }
  
  .list-container .product-exchange-container .info-exchange-container .product-name-jotas-container .name-container {
    width: 80%;
    height: 100%;
  }
  
  .list-container .product-exchange-container .info-exchange-container .product-name-jotas-container .jotas-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: start;
  }
  
  .list-container .product-exchange-container .info-exchange-container .product-name-jotas-container > div > * {
    margin: 0;
    padding: auto;
    font-size: 16px;
    color: #000000;
    min-width: 170px;
  }
  
  .list-container .product-exchange-container .info-exchange-container .product-name-jotas-container .Product-name-exchange {
    width: 80%;
    font-family: 'weblysleekuisb';
  }
  
  .list-container .product-exchange-container .info-exchange-container .product-name-jotas-container .product-jotas {
    margin: 0 0 auto 0;
  }