<ion-header [translucent]="true" style="margin-top: 68px;">
</ion-header>

<ion-content [fullscreen]="true" *ngIf="products.length === 0">
  <ion-header collapse="condense">
  </ion-header>
  <div class="title-jotas-container">
    <h2 class="title-jotas">¿QUE ESPERAS PARA HACER TU PEDIDO?</h2>
  </div>
  <div class="container">
    <div class="childContainer">
      <img src="../../assets/img/phone-hand.svg" alt="phone-hand" />
      <div><p>Todo lo que necesitas en un solo lugar</p></div>
    </div>
  </div>
</ion-content>

<!-- CART STORE -->
<ion-content [fullscreen]="true" *ngIf="products.length > 0 && !isCurrentOrder">
  <div class="cart-container">
    <h2 class="title-jotas">CARRITO DE COMPRAS</h2>
  </div>
  <div [class]="contentHeigth">
    <ion-content class="">
        <ion-list class="list-container">
          <div class="product-exchange-container" *ngFor="let item of products; let index">
            <figure class="img-container">
              <img [src]="item.product.image" alt="">
            </figure>
            <div class="info-exchange-container">
              <div class="product-name-jotas-container">
                <div class="name-container">
                  <h2 class="Product-name-exchange">{{item.product.name }}</h2>
                </div>
              </div>
              <h4 class="disponible-exchange" *ngIf="item.product.presentation">Presentación: {{item.product.presentation}}</h4>
            </div>
            <div class="Btns-container">
            <div>
              <ion-grid class="p0" style="width: 80px;">
                <ion-row>
                <ion-col>
                  <h2 class="Price-now"><span class="Now"></span>{{item.price  | customCurrency :'.':'$ '}}</h2>
                </ion-col>
               
                <ion-col class="buttonsCol">
                  <ion-buttons>
                    <ion-button class="Btn-minus" (click)="subtractBtn(item)">
                      <ion-icon class="icon-inner" size="large" color="light" name="remove-outline"></ion-icon>
                    </ion-button>
                    <h4 class="Quantity">{{item.quantitySelected}}</h4>
                    <ion-button class="Btn-plus" (click)="addBtn(item.id)" [disabled]="quantity >= 10 ? true : false">
                      <ion-icon class="icon-inner" size="large" color="light" size="large" name="add-outline"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-col>
                </ion-row>
              </ion-grid> 
            </div>
            </div>
            <div class="closeIcon">
              <img width="15" height="15"  (click)="deleteProduct(item)"  src="../../assets/icon/Vector.svg" alt="">
            </div>
          </div>
        </ion-list>
    </ion-content>
  </div>

  <div class="contentPayChild">
    <p>Obtienes por tu compra {{points}} J</p>
    <p class="line"></p>
    <ion-grid class="p0">
      <ion-row>
        <ion-col>
          <h4>Total:</h4>
        </ion-col>
        <ion-col>
          <h4 class="payTotal">{{total | customCurrency :'.':'$ '}}</h4>
        </ion-col>
      </ion-row>
    </ion-grid>
    <p class="text">Domicilio gratis por compras mayores a $ {{minimumOrderAmount}} IVA incluido.</p> 
    <ion-button  (click)="submit()" class="buttonSubmit"><span style="margin-top: -5px;">IR A PAGAR</span></ion-button>
  </div>

</ion-content>

<!-- CURRENT ORDER -->
<ion-content [fullscreen]="true" *ngIf="products.length > 0 && isCurrentOrder">
  <div class="cart-container">
    <h2 class="title-jotas">PEDIDO EN CURSO</h2>
  </div>
  <div [class]="contentHeigth">
    <ion-content class="">
        <ion-list class="list-container">
          <div class="product-exchange-container" *ngFor="let item of currentOrder?.products; let index" style="height:110px">
            <figure class="img-container">
              <img [src]="item.store.product.image" alt="">
            </figure>
            <div class="info-exchange-container" style="padding: 20px 20px 15px 20px">
              <div class="product-name-jotas-container">
                <div class="name-container">
                  <h2 class="Product-name-exchange" style="font-family: 'weblysleekuil';font-weight: 600;">{{item.store.product.name}}</h2>
                </div>
              </div>
              <h4 class="disponible-exchange" style="font-family: 'weblysleekuil';margin-top: 5px; font-weight: 300;">Presentación: {{item.store.presentation}}</h4>
              <h4 class="disponible-exchange" style="font-family: 'weblysleekuil';font-weight: 600;">Cantidad: {{item.quantity}}</h4>
            </div>
            <div class="Btns-container">
            <div>
              <ion-grid class="p0" style="width: 80px;margin-top: -60px;">
                <ion-row style="margin-top: 0px;">
                  <ion-col>
                    <h2 class="Price-now"><span class="Now"></span>{{item.price  | customCurrency :'.':'$ '}}</h2>
                  </ion-col>
                </ion-row>
              </ion-grid> 
            </div>
            </div>
            <!-- <div class="closeIcon">
              <img width="15" height="15"  (click)="deleteProduct(item)"  src="../../assets/icon/Vector.svg" alt="">
            </div> -->
          </div>
        </ion-list>
    </ion-content>
  </div>

  <ion-footer>
    <p class="customeCurrentText">Obtienes por tu compra {{currentOrder.earned_points}} J</p>
    <div [ngClass]="buttonWelcome">
      <div class="card">
        <ion-grid class="p0" style="margin-top: -70px;">
          <ion-row style="background:none;">
            <ion-col size="6" class="heightCustom">
              <h4 class="subtotal customCurrentSubtotal" style="">SUBTOTAL:</h4>
            </ion-col>
            <ion-col size="6"  class="heightCustom " style="text-align: right;">
              <h4 class="paySubTotal customCurrentSubtotal">{{currentOrder.amount | customCurrency :'.':'$ '}}</h4>
            </ion-col>
            <ion-col size="6">
              <h4 class="subtotal customCurrentSubtotal">DOMICILIO:</h4>
            </ion-col>
            <ion-col size="6" style="text-align: right;">
              <h4 class="paySubTotal customCurrentSubtotal">{{currentOrder.delivery_value | customCurrency :'.':'$ ' }}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p class="line"></p>
        <ion-grid class="p0">
          <ion-row>
            <ion-col>
              <h4>Total:</h4>
            </ion-col>
            <ion-col>
              <h4 class="payTotal">{{currentOrder.total | customCurrency :'.':'$ '}}</h4>
            </ion-col>
          </ion-row>
        </ion-grid>
        <p class="text">
          Domicilio gratis por compras mayores a $ {{minimumOrderAmount}} IVA incluido.
        </p>
        <ion-button   class="buttonSubmitCurrent"
          ><span style="margin-top: -5px" (click)="cancelAlert()">CANCELAR PEDIDO</span></ion-button
        >
      </div>
    </div>
  </ion-footer>
</ion-content>