<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <ion-button (click)="goBack()">
          <img src="../../assets/icon/backIcon.svg" alt="Back" />
        </ion-button>
        <div class="dev-logo-header">
          <img class="delivery-icon" width="50" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </div>
        <ion-button>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"  class="ion-padding">
  <ion-header collapse="condense" class="h60">
  </ion-header>

    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img class="delivery-icon" width="138" height="138"  src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
          </ion-col>
          <ion-col size="8">
            <div>
              <h1 class="title">LICORERA TRES JOTAS</h1>
              <p class="subtitle">Cra 26 #33-17</p>
              <p class="text">Cañaveral,Floridablanca</p>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

    <ion-toolbar>
      <ion-grid>
        <ion-row>
          <ion-col size="1">
            <img class="delivery-icon" width="25" height="25"  src="../../assets/icon/phone-icon.svg" alt="Logo empresa">
          </ion-col>
          <ion-col size="11">
            <div>
            <a class="linkNumber" (click)="llamar((infoData?.telephones?.main))" >{{infoData?.telephones?.main}}</a> - <a class="linkNumber" (click)="llamar((infoData?.telephones?.secondary))" >{{infoData?.telephones?.secondary}}</a>
            </div>
          </ion-col>
          <ion-col size="1">
            <img class="delivery-icon" width="25" height="25"  src="../../assets/icon/whatsapp-icon.svg" alt="Logo empresa">
          </ion-col>
          <ion-col size="11">
            <div>
            <a class="linkNumber" href="https://wa.me/{{infoData?.whatsapp?.whatsapp1}}">{{infoData?.whatsapp?.whatsapp1}}</a> - <a class="linkNumber" href="https://wa.me/{{infoData?.whatsapp?.whatsapp2}}">{{infoData?.whatsapp?.whatsapp2}}</a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-toolbar>

    <ion-toolbar>
      <p class="CenterText">
        Puedes hacer tus pedidos llamando a estos teléfonos o si quieres visitarnos, te esperamos en la mejor Licorera de Santander.
      </p>
    </ion-toolbar>

    <ion-toolbar class="mapContainer">
      <ion-title class="mapTitle">
        ¿COMO LLEGAR?
      </ion-title>
      <img (click)="openGoogleMap()" class="delivery-icon" width="388" height="222"  src="../../assets/img/map.svg" alt="Logo empresa">
    </ion-toolbar>

    <ion-toolbar>
      <div class="footer">
        <ion-button class="mapButton" color="#000000" (click)="openGoogleMap()">RUTA A LA LICORERA</ion-button>
      </div> 
    </ion-toolbar>

</ion-content>

