<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <ion-button (click)="goBack()">
          <img src="../../assets/icon/backIcon.svg" alt="Back" />
        </ion-button>
        <div class="dev-logo-header">
          <img class="delivery-icon" width="50" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </div>
        <ion-button>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true"  class="ion-padding">
  <ion-header collapse="condense" class="h60">
  </ion-header> 
  <ion-toolbar class="text-center">
    <h1 class="title">ACERCA DE LA APP</h1>
    <div class="customText">Version: 2.0.1</div>
    <a href="https://www.licorera3jjjs.com/condiciones" target="_blank" style="text-decoration-line: none;">
      <div class="customText" >Terminos y condiciones</div>
    </a>
  </ion-toolbar>
</ion-content>
