ion-header ion-toolbar {
    --background: #272727;
}

ion-header ion-toolbar ion-buttons {
    padding: 10px 10px 10px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
}
.customText{
    background: #555555;
    padding: 20px;
    color: #FFFFFF; 
    font-family: weblysleekuil;
    margin-top: 2px;
}
h1 {
    margin-bottom: 40px;
}
