ion-content {
    --background:  #272727;
}

.imgWelcome {
    margin-top: 50px;
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}
  
.imgWelcome img {
    max-width: 100%; /* Asegurarse de que la imagen no exceda el ancho del contenedor */
    max-height: 100%; /* Asegurarse de que la imagen no exceda la altura del contenedor */
}
.h1Welcome, .h4Welcome{
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    margin-top: 16px;
    height: 16px;
}

.h1Welcome h1{
    position: absolute;
    height: 30px;

    font-family: 'HudsonNY-Serif';
    font-size: 30px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #99791C;
}

.h4Welcome h4{
    position: absolute;
    width: 295px;
    height: 16px;

    font-family: 'WeblySleek UI';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.divLabelWelcome{
    display: flex; 
    justify-content: center;
    align-items: center;
    margin-top: 16px;
}

.labelWelcome{
    justify-content: center;
    align-items: center;
    height: 45px;
    background: #FFFFFF;
    border-radius: 10px;   
}
.pWelcome{
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;
    padding: 0 10px;
    font-size: 12px;
    line-height: 16px;
}

a {
    color: #99791C;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
}

.buttonWelcome{
    width: 90%;
    margin-bottom: 30px;
    border-radius: 5px;
}
ion-button {
    background-color: #D1D1D1;
  }

.custom-checkbox {
    --background-checked: url('../../assets/checkBox.svg');
    --background-unchecked: url('../../assets/checkBox.svg');
    --border-color: transparent;
    --border-radius: 0;
    --indicator-color: transparent;
    --background-focused: none;
    --background-hover: none;
    --background-activated: none;
}