ion-content {
    --background:  #272727;
}
ion-input {
    color: #8F8F8F;
    --placeholder-color:#8F8F8F;
}
ion-modal{
    --width: 350px;
    --height: 400px;
}
.imgWelcome {
    margin-top: 50px;
}
  
.imgWelcome img {
    max-width: 100%; 
    max-height: 100%;
}
.h1Welcome, .h4Welcome{
    margin-top: 16px;
    height: 16px;
}

.h1Welcome h1{
    position: absolute;
    height: 30px;

    font-size: 30px;
    line-height: 16px;

}

.h4Welcome h4{
    position: absolute;
    width: 295px;
    height: 16px;

    font-family: weblysleekuil;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.mt20{
    margin-top: 20px;
}
.mb10{
    margin-bottom: 10px;
}
.br10{
    border-radius: 10px;
}
.has-value{
    color: #000000;
}

.labelWelcome {
    min-width: 150px;
    min-height: 20px;
    font-family: HudsonNYSerif;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.pWelcome{
    color: #FFFFFF;
    padding: 0 10px;
    font-size: 12px;
    line-height: 16px;
}

a {
    color: #99791C;
    font-family: weblysleekuil;
}

#footer {
    // position: fixed;
    margin-top: 300px;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
}

.buttonWelcome{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color:#FFFFFF;
    background:#D1D1D1 !important;
}
.ActivebuttonWelcome{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color:#000000;
    background:#FFFFFF;
}
ion-button {
    background-color: #D1D1D1;
}

ion-note{
    margin-top: 5px;
    color:#b74a4a;
}
ion-checkbox {
    --size: 37px;
    --checkbox-background-checked:  url(../../assets/img/checkBoxChecked.svg);
    --checkbox-background: url(../../assets/img/checkBox.svg);
}
  
ion-checkbox::part(container) {
   border: none;
}
ion-checkbox::part(mark) {
    display: none;
}

svg .checkbox-icon{
    border-radius: 20px !important;
}

.button-disabled{
    opacity: 1 !important;
}
