ion-content {
    --background:  #272727;
}

.imgWelcome {
    margin-top: 50px;
}
  
.imgWelcome img {
    max-width: 100%; 
    max-height: 100%;
}
.h1Welcome, .h4Welcome{
    margin-top: 16px;
    height: 16px;
}

.h1Welcome h1{
    position: absolute;
    height: 30px;

    font-size: 30px;
    line-height: 16px;

}

.h4Welcome h4{
    position: absolute;
    width: 295px;
    height: 16px;

    font-family: weblysleekuil;
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 16px;

    display: flex;
    align-items: center;
    text-align: center;

    color: #FFFFFF;
}
.mt16{
    margin-top: 16px;
}
.mb10{
    margin-bottom: 10px;
}
.br10{
    border-radius: 10px;
}

.labelWelcome{
    min-width: 150px;
    min-height: 45px;
    background: #FFFFFF; 
    font-family: HudsonNYSerif;
    color: #000000;
    font-size: 20px;
    font-weight: bold;
}
.pWelcome{
    color: #FFFFFF;
    padding: 0 10px;
    font-size: 12px;
    line-height: 16px;
}

a {
    color: #99791C;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: blue;
}

.buttonWelcome{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color:#FFFFFF;
    background:#D1D1D1 !important;
}
.ActivebuttonWelcome{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color:#000000;
    background:#FFFFFF;
}
ion-button {
    background-color: #D1D1D1;
}

ion-note{
    margin-top: 5px;
    color:#b74a4a;
}
.custom-checkbox{
    margin-right: 10px !important;
    border-radius: 20px !important;
}