<ion-content [fullscreen]="true" [formGroup]="myForm">
    <div class="imgWelcome custom-body-center">
      <img src="../../assets/img/Icon_tres_jotas.svg" alt="Logo empresa">
    </div>
    <div class="h1Welcome color-primary custom-body-center">
      <h1>BIENVENIDO</h1>
    </div>
    <div class="h4Welcome custom-body-center">
      <h4>Por favor ingresa tu fecha de nacimiento</h4>
    </div>
   
    <div class="custom-body-center">
      <ion-item class="mt20 br10">
        <ion-input id="open-modal"  expand="block" formControlName="birthday"  (click)="modalDate()" class="labelWelcome" type="text" placeholder="DD/MM/YYYY" required readonly></ion-input>
        <ion-modal #modal trigger="open-modal">
          <ng-template>
            <ion-content>
              <ion-toolbar>
                <ion-buttons slot="end">
                  <ion-button color="light" (click)="modal.dismiss()">Close</ion-button>
                </ion-buttons>
              </ion-toolbar>
              <ion-content>
                <ion-datetime presentation="date" formControlName="birthdayModal" *ngIf="modalDateTime"   displayFormat="DD/MM/YYYY" placeholder="Selecciona una fecha"></ion-datetime>
              </ion-content>
            </ion-content>
          </ng-template>
        </ion-modal>
        <!-- <ion-input formControlName="birthday"  class="labelWelcome" type="date" placeholder="Custom input" required></ion-input> -->
      </ion-item> 
    </div>
    <div class="custom-body-center">
      <ion-note *ngIf="myForm.get('birthday')?.invalid && myForm.get('birthday')?.touched">
        La fecha es requerida.
      </ion-note>
    </div>
    <div class="custom-body-center">
      <ion-note *ngIf="myForm.get('birthday')?.errors?.fechaInvalida">
        La fecha de nacimiento debe ser mayor a 18 años.
      </ion-note>
    </div>


    <div class="custom-body-center mt20">
      <p class="pWelcome font-secondary">El contenido de esta aplicación es solo para mayores de edad. 
        Prohíbase el expendio de bebidas embriagantes a menores de edad. 
        El exceso de alcohol es perjudicial para la salud.</p>
    </div>

    <div class="custom-body-center">
      <p class="pWelcome font-secondary">
        Al ingresar acepto los <a> términos y condiciones</a> 
      </p>
    </div>

    <div id="footer">
      <div class=" custom-body-center mb10">
        <ion-checkbox formControlName="condition" class="custom-checkbox"></ion-checkbox>
        <ion-label style="color:white" class="font-secondary">Acepto que soy mayor de edad</ion-label>
      </div> 

      <div class=" custom-body-center">
        <ion-button (click)="redirectTo()" [disabled]="!isFormValid || !isCheckboxChecked" [ngClass]="buttonWelcome" color="#D1D1D1">INGRESAR</ion-button>
      </div> 
    </div>
</ion-content>


