<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <!-- <ion-back-button>
          <img class="delivery-icon" src="../../assets/icon/about-icon.svg" alt="back arrow">
        </ion-back-button> -->
        <ion-button (click)="goBack()">
          <img src="../../assets/icon/backIcon.svg" alt="Back" />
        </ion-button>
        <div class="dev-logo-header">
          <img class="delivery-icon" width="50" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </div>
        <ion-button>
         
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-content-scroll">
  <div class="recommended-title-container">
    <h2 class="title-header">{{category}}</h2>
  </div>
  <ion-content class="ion-content-infinite">
    <ion-list [class]="listClass">
      <div class="product-searched" *ngFor="let item of products; let index" (click)="getProductDetail(item)">
        <figure class="img-container">
          <img [src]="item.image" alt="">
        </figure>
        <div class="info-searched-container">
          <h2 class="porduct-name">{{item.name | customPipe: 1}}</h2>
          <p class="product-subname">{{item.name | customPipe: 2}}</p>
          <p class="product-description">{{item.description.slice(0,65)}}...</p>
          <h1 class="product-price">{{item.store.price | customCurrency :'.':'$ '}}</h1>
        </div>
      </div>
    </ion-list>
    <ion-infinite-scroll (ionInfinite)="loadData($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
      >
      </ion-infinite-scroll-content>
    </ion-infinite-scroll>
  </ion-content>
</ion-content>
