<ion-header>
  <ion-toolbar>
      <ion-buttons class="toolbar-detail-container">
        <!-- <ion-back-button icon="../../assets/icon/backIcon.svg"></ion-back-button> -->
        <ion-button class="btn-header">
          <!-- <img width="25" height="25" src="../../assets/icon/backIcon.svg" alt="Back" /> -->
        </ion-button>
        <ion-button class="btn-header">
          <img width="40" height="40" class="delivery-icon" src="../../assets/icon/Icon_tres_jotas.svg" alt="Logo empresa">
        </ion-button>
        <ion-button class="btn-header">
          <!-- <img class="delivery-icon" src="../../assets/icon/right-arrow.svg" alt="right arrow"> -->
          <img width="15" height="15"   src="../../assets/icon/white-x.svg" alt="">
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-buttons class="scanner-container">
    <ion-button><img src="../../assets/icon/scan-icon.svg" alt="">escanear</ion-button>
  </ion-buttons>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-buttons>
      <div class="btn-footer-container">
        <ion-button class="btn-footer-disabled">Agregar</ion-button>
      </div>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
