ion-header ion-toolbar {
    --background: #272727;
}

ion-header ion-toolbar ion-buttons {
    padding: 10px 10px 10px 0px;
    color: white;
    display: flex;
    justify-content: space-between;
}

ion-segment{
    padding: 20px 12%;
}

.scrollable-content {
  --overflow: auto;
}
.customContent{
  position: relative;
  height: auto;
  padding: 0px 12%;
}

ion-segment-button{
    font-family: HudsonNYSerif;
    margin: 0px 2%;
    width: 100%;
    height: 66px;
    background: #d1d1d1;
    border-radius: 10px;
    color: #4F4F4F;
    font-size: 14px;
}
.segment-button-checked.md::part(native) {
    border-radius: 10px;
    background: #404040;
    color: #FFFFFF;
}
.segmentLabel{
    margin-top: -6px;
    font-size: 14px;
}
.payment-icon{
    margin-top: 10px;
    width: 42px;
    height: 42px;
}

ion-segment-button::part(indicator-background) {
    background: #FFFFFF;;
}
ion-radio{
    padding: 20px;
    width: 100%;
    border: 1px solid #000000;
    border-radius: 10px;
    margin-bottom: 10px;
    --size: 37px;
    --checkbox-background-checked:  url(../../assets/icon/done.svg);
}

ion-radio.radio-checked::part(container) {
    border: none;
    background-image:  url(../../assets/icon/done.svg);
}
ion-radio::part(container) {
    border: none;
 }
ion-radio::part(mark) {
    display: none;
}
.footer{
    position: relative;
    padding: 0px 20px 0 20px;
    height: 100px;
    // position: fixed;
    left: 0;
    width: 100%;
    bottom: 0;
    background: white;
}
.buttonSubmit{
    width: 100%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #FFFFFF;
    --background: #D1D1D1 !important;
    border: 1px solid #000000;
    font-size: 17px;
    border: none;
    height: 45px;
  }
  .buttonSubmitActive{
    width: 100%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #000000;
    --background: #FFFFFF !important;
    border: 1px solid #000000;
    font-size: 17px;
    height: 45px;
  }
  .buttonCreditActive{
    width: 100%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color: #FFFFFF;
    --background: #99791C    !important;
    border: 1px solid #000000;
    font-size: 17px;
    height: 45px;
  }
  .creditStep{
    margin-top: 50%;
  }
  .paymentList{
    margin-top: -30%;
    margin-left: -20px;
  }
  ion-page {
    display: block;
  }
  .creditTittle{
    font-size: 16px;
    color: #000000;
  }
  .creditText{
    font-size: 14px;
    font-family: weblysleekuil;
    font-weight: 300;
    color: #000000;
  }

  ion-content .scanner-container {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  ion-content .scanner-container ion-button {
    width: 160PX;
    height: 45px;
    --background: white;
    font-family: "HudsonNYSerif";
    font-size: 16px;
    color: #000000;
    border: 2px solid black;
    --box-shadow: none;
    border-radius: 5px;
  }
  
  ion-content .scanner-container ion-button img {
    padding-right: 10px;
  }

  ion-content .form-container .card-number-contaienr {
    display: flex;
  }
  ion-content .form-container p{
    font-size: 16px;
    font-family: weblysleekuil;
  }
  ion-content .form-container .custom {
    --background: #ffff;
    --color: #000000;
    --placeholder-color: #ddd;
    --placeholder-opacity: 0.8;
    --padding-end: 10px;
    --padding-start: 10px;
    border-bottom: solid 1px;
  }

  .custom {
    border-bottom: solid 1px;
  }


  ion-content .form-container .fecha-cvv-container {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
  }
  
  ion-content .form-container .fecha-cvv-container .fecha-container {
    width: 5cm;
  }
  
  ion-content .form-container .fecha-cvv-container .cvv-container {
    width: 40%;
  }

  ion-content .form-container .card-name-container{
    margin-top: 15px;
  }
  ion-content .safe-paymnet-container {
    margin: auto 0 25px 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .form-payment-container{
    margin-bottom: 20px;
  }
  ion-content .safe-paymnet-container p{
    margin: 0 0 0 10px;
    padding: 0;
    font-size: 17px;
    font-family: 'weblysleekuil';
  }

  ion-content  .payment-list-container {
    padding: 0 0 50px;
    width: 90%;
    margin: 27px auto;
    height: 70%;
    overflow: auto;
  }

  ion-content  .payment-list-container ion-item figure{
    margin: 0;
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  ion-content  .payment-list-container ion-item figure img{
    width: 60%;
  }
  
  ion-content  .payment-list-container ion-item-sliding ion-item .credit-card-info-container {
    margin: 20px 0;
    width: 60%;
    display: flex;
    justify-content: space-between;
  }

  ion-content  .payment-list-container ion-item-sliding ion-item .credit-card-info-container .text-container {
    width: 100%;
    height: 100%;
  }
  
  ion-content  .payment-list-container ion-item-sliding ion-item .credit-card-info-container h2{
    margin: 0;
    font-size: 16px;
    font-family: 'weblysleekuisb';
  }
  
  ion-content  .payment-list-container ion-item-sliding ion-item .credit-card-info-container p{
    margin: 0;
    font-family: 'weblysleekuil';
    font-size: 12px;
  }
  
  ion-content  .payment-list-container ion-item-sliding ion-item .star-container {
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
  }
  
  ion-content  .payment-list-container ion-item-sliding ion-item-options ion-item-option {
    background-color: #FF1806;
  }