:root {
  --btnClientColor: rgb(255, 255, 255);
}

@font-face {
    font-family: 'HudsonNYSerif';
    src: url('./assets/fonts/Hudson NY Serif.otf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuil';
    src: url('./assets/fonts/weblysleekuil.ttf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuili';
    src: url('./assets/fonts/weblysleekuili.otf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuisb';
    src: url('./assets/fonts/weblysleekuisb.ttf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuisbi';
    src: url('./assets/fonts/weblysleekuisbi.ttf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuisl';
    src: url('./assets/fonts/weblysleekuisl.ttf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuisli';
    src: url('./assets/fonts/weblysleekuisli.ttf') format('truetype');
}


:root {
    --color-primary: #99791C;
    --color-seconday: #FFFFFF;
}
html, p, h1, h2, h3, a {
    font-family: HudsonNYSerif;
}
.font-primary {
    font-family: HudsonNYSerif;
}
.font-secondary {
    font-family: weblysleekuil;
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-seconday);
}

.text-center{
    text-align: center !important;
}
.mb10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: -10px;
}
.mt10{
    margin-top: 10px !important;
}
.mt5{
    margin-top: 5px !important;
}
.m0{
    margin:0px;
}
.p0{
    padding: 0px;
}
.bg-color-primary{
    background-color:  #272727;
}
.h60{
    margin-top: 68px;
}
.custom-body-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.buttonWelcome {
    width: 90% !important;
    font-family: HudsonNYSerif;
    border-radius: 5px !important;
    /* color:#000000 !important; */
    --background:#FFFFFF !important;
    /* border: 2px solid #000000 !important; */
}
.alert-message.sc-ion-alert-ios {
    max-height: 280px;
}

.alert-wrapper.ion-overlay-wrapper.sc-ion-alert-md {
  padding: 16px 20px 20px 20px;
    background: #FFFFFF;
    border-radius: 10px;
}

.alert-head.sc-ion-alert-md {
  padding: 0;
}

.alert-message{
    text-align: center;
}
.alert-button-inner.sc-ion-alert-md {
    -ms-flex-pack: end;
    justify-content: center;
}

.alert-button-group.sc-ion-alert-md {
  padding: 0;
}

.alert-message.sc-ion-alert-md {
  padding: 0;
}

.alertFont{
  margin: 16px 0 0 0;
    font-size: 16px;
    font-family: HudsonNYSerif;
    color: #000000;
}
.alertButton{
    padding: 6px 0 12px 0 !important;
    margin: 0 auto 0 auto !important;
    width: 90%;
    font-family: HudsonNYSerif;
    border-radius: 5px !important;
    color: #000000 !important;
    border: solid 2px #000000 !important;
}

.alert-button.sc-ion-alert-md {
  font-size: 17px;
}

.alertButtonExchange{
  padding: 6px 0 12px 0 !important;
  margin: 0 auto 0 auto !important;
  width: 45%;
  font-family: HudsonNYSerif;
  font-size: 17px;
  border-radius: 5px !important;
  color: #000000 !important;
  border: solid 2px #000000 !important;
}

.alertSubtitle{
  margin: 16px 0 0 0;
    font-weight: 300px;
    font-size: 14px;
    text-align: center;
    font-family: weblysleekuisb;
    color: black;
}

.img-alert {
  width: 80px;
  height: 80px;
  border: 1px solid black;
  border-radius: 50%;
}

.font-w300{
    font-weight: 300px !important;
}
.font-w600{
    font-weight: 600px !important;
}
.dev-logo-header{
    display: flex;
    justify-content: center;
    margin-right: 25px;
}
.swiper-pagination-bullet-active {
    background-color: #464646;
}
.DisableButton{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color:#FFFFFF;
    background:#D1D1D1 !important;
}
.Activebutton{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color:#000000 !important;
    background:#FFFFFF !important;
    border:solid 2px #000000;
}
span.button-inner{
    width: 20px;
    height: 20px;
}
.button-native{
    --background: black;
}
.sc-ion-input-md-h{
    --highlight-color-focused: #000000;
    --highlight-color-valid: #000000;
    --highlight-color:#000000;
    --highlight-color-invalid: #FF0000;
    color:#BBBBBB;
}

.has-focus.ion-valid.sc-ion-input-md-h{
    border-bottom: solid 2px #000000;
}

.ng-invalid.has-value{
    color: #FF0000; 
}


