@font-face {
    font-family: 'HudsonNYSerif';
    src: url('./assets/fonts/Hudson NY Serif.otf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuil';
    src: url('./assets/fonts/weblysleekuil.ttf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuili';
    src: url('./assets/fonts/weblysleekuili.otf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuisb';
    src: url('./assets/fonts/weblysleekuisb.ttf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuisbi';
    src: url('./assets/fonts/weblysleekuisbi.ttf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuisl';
    src: url('./assets/fonts/weblysleekuisl.ttf') format('truetype');
}
@font-face {
    font-family: 'weblysleekuisli';
    src: url('./assets/fonts/weblysleekuisli.ttf') format('truetype');
}


:root {
    --color-primary: #99791C;
    --color-seconday: #FFFFFF;
}
html, p, h1, h2, h3, a {
    font-family: HudsonNYSerif;
}
.font-primary {
    font-family: HudsonNYSerif;
}
.font-secondary {
    font-family: weblysleekuil;
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-seconday);
}

.text-center{
    text-align: center !important;
}
.mb10{
    margin-bottom: 10px;
}
.mt-10{
    margin-top: -10px;
}
.mt10{
    margin-top: 10px !important;
}
.m0{
    margin:0px;
}
.p0{
    padding: 0px;
}
.bg-color-primary{
    background-color:  #272727;
}
.h60{
    margin-top: 60px;
}
.custom-body-center{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.buttonWelcome {
    width: 90% !important;
    font-family: HudsonNYSerif;
    border-radius: 5px !important;
    /* color:#000000 !important; */
    --background:#FFFFFF !important;
    /* border: 2px solid #000000 !important; */
}
.alert-message.sc-ion-alert-ios {
    max-height: 280px;
}
.alert-wrapper.ion-overlay-wrapper.sc-ion-alert-md {
    background: #FFFFFF;
}
.alert-message{
    text-align: center;
}
.alert-button-inner.sc-ion-alert-md {
    -ms-flex-pack: end;
    justify-content: center;
}
.alertFont{
    font-size: 16px;
    font-family: HudsonNYSerif;
    color: #000000;
}
.alertButton{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px !important;
    border-radius: 5px !important;
    color: #000000 !important;
    border: solid 2px #000000 !important;
}
.alertSubtitle{
    font-weight: 300px;
    font-size: 13px;
    text-align: center;
}
.font-w300{
    font-weight: 300px !important;
}
.font-w600{
    font-weight: 600px !important;
}
.dev-logo-header{
    display: flex;
    justify-content: center;
    margin-right: 25px;
}
.swiper-pagination-bullet-active {
    background-color: #464646;
}
.DisableButton{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color:#FFFFFF;
    background:#D1D1D1 !important;
}
.Activebutton{
    width: 90%;
    font-family: HudsonNYSerif;
    margin-bottom: 30px;
    border-radius: 5px;
    color:#000000 !important;
    background:#FFFFFF !important;
    border:solid 2px #000000;
}
