<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <div class="ion-justify-content-center ion-align-items-center menu-logo">
        <img src="../../assets/img/Ellipse.svg" alt="fondo Blanco">
        <img class="menu-logo-center" src="../../assets/img/user-icon.svg" alt="imagen">
      </div>
     
      <ion-text>
        <h3 class="color-primary text-center">INICIA SESIÓN</h3>
        <p class="color-secondary text-center mt-10">Y ACUMULA PUNTOS</p>
      </ion-text>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-item button detail="true" lines="none">
      <ion-label class="m0">
        <ion-grid class="p0">
          <ion-row>
            <ion-col size="auto"><img style="width: 30px" src="../../assets/icon/home-icon.svg" alt="home"></ion-col>
            <ion-col><h3 class="mt10">INICIO</h3></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    
    <ion-item button detail="true" lines="none">
      <ion-label class="m0">
        <ion-grid class="p0">
          <ion-row>
            <ion-col size="auto"><img style="width: 30px" src="../../assets/icon/home-icon.svg" alt="home"></ion-col>
            <ion-col><h3 class="mt10">MIS PEDIDOS</h3></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    
    <ion-item button detail="true" lines="none">
      <ion-label class="m0">
        <ion-grid class="p0">
          <ion-row>
            <ion-col size="auto"><img style="width: 30px" src="../../assets/icon/location-icon.svg" alt="home"></ion-col>
            <ion-col><h3 class="mt10">COMO LLEGAR</h3></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    
    <ion-item button  detail="true" lines="none">
      <ion-label class="m0">
        <ion-grid class="p0">
          <ion-row>
            <ion-col size="auto"><img style="width: 30px" src="../../assets/icon/about-icon.svg" alt="home"></ion-col>
            <ion-col><h3 class="mt10">ACERCA DE LA APP</h3></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

    <ion-item button  detail="true" lines="none">
      <ion-label class="m0">
        <ion-grid class="p0">
          <ion-row>
            <ion-col size="auto"><img style="width: 30px" src="../../assets/icon/share-icon.svg" alt="home"></ion-col>
            <ion-col><h3 class="mt10">COMPARTIR APP</h3></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>

    <ion-item button detail="true" lines="none">
      <ion-label class="m0">
        <ion-grid class="p0">
          <ion-row>
            <ion-col size="auto"><img style="width: 30px" src="../../assets/icon/pqr-icon.svg" alt="home"></ion-col>
            <ion-col><h3 class="mt10">SUGERENCIAS</h3></ion-col>
          </ion-row>
        </ion-grid>
      </ion-label>
    </ion-item>
    
   
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <div class="dev-logo-header"><img class="menu-logo-center" style="width: 50px;" src="../../assets/img/Icon_tres_jotas.svg" alt="Logo empresa"></div>
      <img class="delivery-icon" src="../../assets/icon/delivery-icon-white-icon.svg" alt="Logo empresa">
    </ion-toolbar>
  </ion-header>
  <!-- start section tabs -->
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="tab1" class="bg-color-primary" (click)="changeTab('tab1')">
        <ion-label><img style="width: 50px;" [src]="selectedTab === 'tab1' ? '../../assets/icon/home1.svg' : '../../assets/icon/home-selected1.svg'" alt="Logo empresa"></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab2" class="bg-color-primary" (click)="changeTab('tab2')">
        <ion-label><img style="width: 50px;" [src]="selectedTab === 'tab2' ? '../../assets/icon/home-selected2.svg' : '../../assets/icon/home2.svg'" alt="Logo empresa"></ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="tab3" class="bg-color-primary" (click)="changeTab('tab3')">
        <ion-label><img style="width: 50px;" [src]="selectedTab === 'tab3' ? '../../assets/icon/home-selected3.svg' : '../../assets/icon/home3.svg'"  alt="Logo empresa"></ion-label>
      </ion-tab-button>

      <ion-tab-button tab="tab4" class="bg-color-primary" (click)="changeTab('tab4')">
        <ion-label><img style="width: 50px;" [src]="selectedTab === 'tab4' ? '../../assets/icon/home-selected4.svg' : '../../assets/icon/home4.svg'"  alt="Logo empresa"></ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  
  </ion-tabs>
  <!-- finish section tabs -->
</div>






