ion-menu ion-content {
    --background:  #272727;
}

ion-menu ion-toolbar {
    --background:  #1A1A1A;
}

.menu-logo{
    display: flex;
    margin-top: 10px;
}

.menu-logo-center{
    position: absolute;
}

.dev-logo-header{
    display: flex;
    justify-content: center;
    margin-right: 60px;
}

ion-item::part(native) {
    background-color: #272727;
    background: #272727;
    color: #fff;

}

ion-toolbar {
    --background: #272727;
    --color: white;
  
    --min-height: 30px;
    --padding-top: 10px;
    --padding-bottom: 10px;
}

ion-page ion-header {
    height: 60px;
}

ion-tab-button.tab-selected {
    position: relative;
  }
  
  ion-tab-button.tab-selected::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%; /* Ajusta el posicionamiento de la línea horizontal */
    transform: translateX(-50%);
    width: 100%; /* Ajusta el ancho de la línea horizontal */
    height: 5px; /* Ajusta el grosor de la línea horizontal */
    margin-bottom: 55px;
    background-color: #99791C;
  }

  ion-tab-bar{
    height: 60px;
  }

  .delivery-icon{
    width: 41px;
    margin-right: 10px;
    float: right
  }

  ion-menu-button.ios.button.in-toolbar.ion-activatable.ion-focusable.hydrated {
    color: #FFFFFF;
}

ion-icon[name="custom-icon"] {
    background-image: url('../../assets/icon/Menu.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 24px;
    height: 24px;
}

ion-icon .md .hydrated{
    background-image: url('../../assets/icon/Menu.svg');
}
ion-badge{
    --background: #99791C;
    --color: aliceblue;
    font-size: 15px;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-top: -15px;
}